.parentConatiner {
  height:1900px;
  background-color: #dddddd;
  padding:180px 70px;
}
.container {
   display: flex;
   justify-content: space-between;
}
.filter {
  height:700px;
  width:400px;
  background-color: yellow;
}
.shopContainer {
  height:900px;
  width:1000px;
  background-color: blue;
}
