footer {
  height:550px;
  width:100vw;
}
.offer {
  height:120px;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1.5px solid #dddddd;
}
.offer p {
  font-size: 30px;
  font-family: sans-serif;
  margin-bottom: 0px;
}
.mainFooter {
  height:330px;
  width:100vw;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}
.logoContainer {
  width:400px;
  margin-top: 30px;
  
}
.logoFooter {
  height:150px;
  width:150px;
}
.slogan{
  font-size: 25px;
  font-family: sans-serif;
}
.forHer {
  width:200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.forHer a {
  text-decoration: none;
  color:grey;
}

.forHim {
  width:200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.forHim a {
  text-decoration: none;
  color:grey;
  margin-bottom: 8px;
}
.subscribeInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subscribeInput p {
  font-size: 20px;
}
.subscribeInput input {
  height: 50px;
  width:250px;
  border: 1px solid grey;
  margin-bottom: 20px;
  padding: 10px;
}
.subscribeInput button {
  width:150px;
  height: 50px;
  border: none;
  background-color: rgb(7, 183, 241);
}
.copyrightContainer {
  width:100vw;
  height:100px;
  border-top: 0.2px solid #dddddd;
  padding: 30px;
  padding-left: 200px;
  font-size: 18px;
  color: gray;
  
}
.afterSubscribe {
  width:250px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
