
.descriptionContainer {
  height:50vh;
  width:100vw;
  padding: 0px 168px;
  background-color: #f5f7f9;
  border-top: 1px solid #dddddd;
}
.navigation {
  height:100px;
  display: flex;
  gap:30px;
}
.navigation a {
height:30px;
font-size: 1.3rem;
width:120px;
margin: 0%;
text-align: center;
border-top: 2px solid black;
}

.Pdesc {
  font-size: 1.5rem;
  font-weight: 550;
}
.description {
  font-size: 1.19rem;
}
.imageDesc {
  height:245vh;
  width:100vw;
  padding: 0px 168px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0%;
  background-color: #f5f7f9;
}
.Images {
  height:600px;
  width:600px;
  margin: 0%;
}
.descBox {
  height:600px;
  width:600px;
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: white;
}