
h1 {
  width:100vw;
  height:220px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height:800px;
  width: 100vw;
  padding:0px 100px;
}
.shopCard {
  height:404px;
  width:250px;
  position: absolute;
}
.img{
  height: 248px;
  width:248px;
  margin-bottom: 10px;
}
h6 {
  font-family: sans-serif;
  font-weight: 600;
  margin-bottom: 8px;
}
.men {
  font-size: 0.8rem;
  margin: 0px;
  color:grey;
  font-family: sans-serif;
}
.price {
  margin:0px;
}
del {
  color:grey;
  margin-right: 8px;
}
.carticon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  font-size: 20px;
  color: white;
}

